// Custom styles.
body {
  background:url(/images/personal_bg.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}
.post {
   margin-bottom: 20px;
   background: #fff;
   
}
.content-wrap{
    padding: 0;
    background: none;
}
.posts-expand{
    padding-top: 0;
}
.post-block.page{
    background: #fff;
    padding: 20px 20px 40px;
}
.post-block.archive{
    background: #fff;
    overflow: hidden;
    padding-top: 40px;
}
.post.post-type-normal{
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.post.post-type-normal .post-block{
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.post.post-type-normal .post-block .post-header{
    padding-top: 20px;
}
.post.post-type-normal .post-block .post-meta{
    margin-bottom: 20px;
}
.post.post-type-normal .post-block .post-body{
    padding: 0 20px 30px;
}
.post.post-type-normal .post-block .post-body .post-button{
    margin-top: 20px;
}
.post.post-type-normal .post-block .post-footer{
    display: none;
}
.posts-collapse::after{
    height: auto;
}
.comments{
    background: #fff;
    margin: 40px 0 0;
}
#disqus_thread{
    padding: 40px;
}
.footer{
    color: #000;
}